@model SurfClub.Models.DbModels.Post

@{
    ViewData["Title"] = "Лента новостей";
}

@using Microsoft.AspNetCore.Http
@using SurfClub.Helpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
}

@if (userId != null)
{
    <form asp-controller="Feed" asp-action="AddPost"
          method="post" enctype="multipart/form-data">

        <div class="card">
                <div class="card-header">
                    Добавление новой записи
                </div>
                <div class="card-body">
                    <label asp-for="Text">Введите текст</label>
                    <textarea asp-for="Text" rows="10" cols="100"></textarea>
                    <span asp-validation-for="Text"></span>
                    <input type="file"
                           accept=".jpg,.jpeg,.png"
                           name="imageData" />
                    <input type="submit" value="Добавить" />
                </div>
        </div>
    </form>
}


@foreach (var post in ViewBag.Posts)
{



    <div class="card">
        <div class="card-header">
            @{
                var userPhoto = ImageHelper.GetUrl(post.Author.Photo);
                if (userPhoto != null)
                {

                    <img class="userpic" src="@Url.Content(userPhoto)" width="40" />
                }
            }

            @post.Author.Nickname

            @post.PublishDate
        </div>
        <div class="card-body">
            <p>@post.Text</p>
            @{
                var photoUrl = ImageHelper.GetUrl(post.Photo);
                if (photoUrl != null)
                {

                    <img class="" src="@Url.Content(photoUrl)" width="800" />
                }
            }
        </div>
    </div>

}